@media (min-width: 768px) and (max-width: 1024px)
{

}

@media all and (max-width: 768px)
{

}

header{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;;
    font-size: 13px;
}

.img{
    margin-left: 10%;
}

.type1{
    margin-left: 5%;
}
.type2{
    margin-left: 1%;
}
.type3{
    margin-right: auto;
}
.rs{
    margin-top: 0.8%;
}
.onglet{
    margin-top: 0.8%;
    margin-right: 0%;
}

.billeterie{
    background-color: red;
    color: white;
    margin-left: 2%;
    padding-right: 0%;
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}

footer{
    font-family: OCR A Std, monospace;
}

.img_background{
    margin-top: 5%;
    margin-left: 5%;
    padding-right: 5%;
}

.background_body{
    margin-top: 6.3%;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;  
    font-size: 25;
    padding-top: 5%;
    padding-bottom: 10.5%;
    padding-right: 4%;
    padding-left: 6%;
}

.body_footer{
    background-color: white;
    padding-top: 0.5%;
    margin-top: -9%;
    margin-left: 20%;
    text-align: center;
    position:relative;

}

.body_footer p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.body_footer::after{
    content: '';
    clear: both;
    display: table;
}


.cine a:hover{
    color: red;
    text-decoration: underline;
}

.titre1 a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.rs a:hover{
    text-decoration: underline;
    font-weight: bold;
}




.type2 p{
    color: red;
}

.div_carousel{
    float:left;
    margin-left:2%;
    background-color: grey;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}


#nav, #nav ul {

    margin: 0;
    list-style: none;
 }
 
 #nav a {
    display: block;
    width: 10em;
 }
 
 #nav li {
    float: left;
    width: 10em;
 }
 
 #nav li ul {
    position: absolute;
    width: 11em;
    left: -999em;
 }
 
 #nav li:hover ul {
    left: auto;
 }
 
 #nav li:hover ul, #nav li.sfhover ul {
    left: auto;
 } 

 .menu_deroulant{
     color:red;
     background-color: white;
 }

.menu_deroulant a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 13%;
    font-size: 15px;
    text-align: left;
}
.menu_deroulant i{
    color:red;
}
.billeterie .menu_deroulant a:hover{
    color:red;
}
